<!DOCTYPE html>
<meta charset="utf-8"/>
{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <hr>    
        <div class="page-header text-center mt-3">
            <h1 class="display-4">Your Doubt</h1>
        </div>
    <hr>
    <form action="{% url 'add_doubt' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.link }}
        </div>
        <div class="form-group">
            {{ form.tag }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}