<!DOCTYPE html>
<meta charset="utf-8"/>
{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ doubt.title }}</h1>
    <small>
        {{ doubt.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for tag in doubt.tags.all %}
        <a href="{% url 'tagged_doubts' tag.name %}">
            {{ tag.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ doubt.body | linebreaks }}</p>
    {% if doubt.link is null or blank%}
    {% else %}
        <a href="{{doubt.link}}" class="card-link text-info">Reference Link</a>
    {% endif %}
    <button href="#Bar" class="btn btn-default" data-toggle="collapse">Comment</button>
    <div id="Bar" class="collapse in">
        <h3>Leave a comment:</h3>
        <form action="{% url 'doubt_complete' doubt.pk%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.author }}
            </div>
            <div class="form-group">
                {{ form.body }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}