{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    <hr>
    <form action="/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.link }}
        </div>
        <div class="form-group">
            {{ form.tag }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for doubt in doubts %}
    <h2><a href="{% url 'blog_detail' doubt.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ doubt.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for tag in doubt.tags.all %}
        <a href="{% url 'blog_category' tag.name %}">
            {{ tag.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ doubt.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}