{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    <hr>
    <form method="POST" action="{% url 'add_doubt' %}">
        {% csrf_token %}
    <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Post a Doubt</button>
    </form>
    {% for doubt in doubts %}
    <h2><a href="{% url 'blog_detail' doubt.pk%}">{{ doubt.title }}</a></h2>
    <small>
        {{ doubt.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for tag in doubt.tags.all %}
        <a href="{% url 'blog_category' tag.name %}">
            {{ tag.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ doubt.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}